/* CSS Document */


#renglones_tr{background-color:#999999; 
font-size:12px; 
font:Arial, Helvetica, sans-serif;
}

#table1{
background-color:#FFFFFF;
width:500;

border-color:#000000;
}


#renglones_tr2{ background-color:#FFFFFF; 
font-size:12px; 
font:Arial, Helvetica, sans-serif;
}

